<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h3><%= @user.email %></h3>
      <span><%= link_to "view my profile", @user %></span>
      </br>
      <span><b>Retreats:</b> <%= @user.events.count %></span>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title + " in these Retreats" %></h3>
    <% if @events.any? %>
      <table class="table table-striped table-hover">
      <tr>
        <th><%= sortable "title"%></th>
        <th><%= sortable "state"%></th>
        <th><%= sortable "address_2", "City"%></th>
        <th><%= sortable "start_date", "Starts"%></th>
        <th><%= sortable "end_date", "Ends"%></th>
        <th><%= sortable "restrictions"%></th>
        <th><%= sortable "capacity"%></th>
        <th>Disengage</th>
      </tr>
      <% @events.each do |event| %>
      </tr>
          <td><%= link_to event.title, event %></td>
          <td><%= event.state %></td>
          <td><%= event.address_2 %></td>
          <td><%= event.start_date %></td>
          <td><%= event.end_date %></td>
          <td><%= event.restrictions %></td>
          <td><%= event.capacity %></td>
          <% if user_signed_in? %>
            <td><%= render 'retreatregs/disengage', event: event %></td>
          <% end %>
      </tr>
      <% end %>
</table>
    <% end %>
  </div>
</div>