<% provide(:title, 'Organize') %>
<h1>Organize</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@event) do |f| %>

    <%= render 'shared/error_messages' %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :address_1 %>
      <%= f.text_field :address_1 %>

      <%= f.label :City %>
      <%= f.text_field :address_2 %>

      <%= f.label :state %>
      <%= f.text_field :state %>

      <%= f.label :zip_code %>
      <%= f.text_field :zip_code %>

      <%= f.label :e_id %>
      <%= f.text_field :e_id %>

      <%= f.label :organizer_id %>
      <%= f.text_field :organizer_id %>

      <%= f.label :venue %>
      <%= f.text_field :venue %>

      <%= f.label :restrictions %>
      <%= f.text_field :restrictions %>

      <%= f.label :tradition %>
      <%= f.text_field :tradition %>

      <%= f.label :description %>
      <%= f.text_area :description, size: "60x12"%>

      <%= f.label :preparations %>
      <%= f.text_area :preparations, size: "60x12"%>

      <%= f.label :instructions %>
      <%= f.text_area :instructions, size: "60x12" %>

      <%= f.label :code_conduct %>
      <%= f.text_area :code_conduct, size: "60x12" %>

      <%= f.label :comments %>
      <%= f.text_area :comments, size: "60x12" %>

      <%= f.label :capacity %>
      <%= f.text_field :capacity %>

      <%= f.label :start_date %>
      <%= f.date_field :start_date %>

      <%= f.label :end_date %>
      <%= f.date_field :end_date %>

      <%= f.submit "Create my Retreat", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>